<div
        class="appcontent utilties-app small-12 grid-x grid-padding-x align-stretch"
        ng-class="form.activeclass"
>
    <div class="cell small-12 large-2 app-side-menu">
        <div class="app-side-menu-inner inner-view cell">
            <div class="title-bar ">
                <div class="title-bar-left">
                    <a href="/dashboard"><img class="logo" src="app/assets/svgs/w_wilco_logo.svg"></a>
                </div>
            </div>
            <div class="app-menu-container">


                <div class="app-navigator">

                    <dropdown-toggle class="dropdown-custom app-switcher" close-on-click="true">
                        <toggle class="d-tog"><a class="app-name"><span>{{ $state.current.title }}</span><i
                                class="icon-icons_chevron_down"></i></a></toggle>
                        <pane>
                            <ul class="menu vertical">
                                <div app-nav></div>
                            </ul>
                        </pane>
                    </dropdown-toggle>
                </div>

                <div class="app-filters">
                    <ul class="vertical menu" data-drilldown id="m1" >

                        <li>

                            <div id="utility-state-list" class="inner-view">

                                <ul id="utility-records" class="vertical menu">
                                    <li
                                            id="customer-type-record"
                                            class="record"
                                            ng-class="{active: selectedFilter == 'ConsumerType' }"
                                            name="record[]"
                                            ng-click="changeSettingsType('ConsumerType')"
                                    >
                                        <a>
                                            Consumer Types
                                        </a>
                                    </li>
                                    <li
                                            id="program-record"
                                            class="record"
                                            ng-class="{active: selectedFilter == 'Program' }"
                                            name="record[]"
                                            ng-click="changeSettingsType('Program')"
                                    >
                                        <a>
                                            Programs
                                        </a>
                                    </li>
                                </ul>
                            </div>



                        </li>


                    </ul>
                </div>


            </div>







            <div class="title-bar-bottom">
                <div class="title-bar-left">
                    <div class="grid-x small-12 ">

                        <div class="small-6 cell">
                            <button class="button clean"><i class="icon-icons_gear"></i></button>
                        </div>

                        <div class="small-6 cell">
                            <button class="button clean float-right" ng-click="addNewRecord()"><i class="icon-icons_plus"></i></button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="cell small-4 large-4 app-side-nav">
        <div class="title-bar title-bar-search">
            <div class="title-bar-left">
                <div ng-if="currentSetting=='ConsumerType'" class="input-group searchbar">
                    <i class="icon-icons_search"></i>
                    <input class="input-field search-field" placeholder="Search Consumer Types"
                           ng-model="userSearch" ng-change="loadCTDataSet(userSearch)">
                </div>

                <div ng-if="currentSetting=='Program'" class="input-group searchbar">
                    <i class="icon-icons_search"></i>
                    <input class="input-field search-field" placeholder="Search Programs"
                           ng-model="userSearch" ng-change="loadPDataSet(userSearch)">
                </div>
            </div>
        </div>
        <div id="record-list" class="inner-view">
            <ul id="app-records" class="app-records">

                <div ng-if="currentSetting=='None'" style="text-align: center;padding: 20px;opacity: .4;"> Click On Settings Filter to View Records </div>
                <li
                        ng-if="currentSetting=='ConsumerType'"
                        id="{{ consumerType.ctCustomerType }}"
                        ng-repeat="consumerType in consumerTypes | filter:userSearch"
                        ng-class="{active: consumerType.ctCustomerTypeID === selectedConsumerTypeID && consumerType.type != 'letter'}"
                        class="{{ consumerType.type }}"
                        name="record[]"
                        ng-click="loadClickedRecord({record: consumerType, index: $index, event: $event})"
                >
                    <a ng-if="consumerType.type == 'letter'"
                    >
                        <span class="inner"><span>{{ consumerType.ctCustomerType }}</span></span>
                    </a>
                    <a
                            ng-if="consumerType.type == 'record'"
                    >
                        <span class="inner"><span>{{ consumerType.ctCustomerType }}</span></span>
                    </a>
                </li>
                <li
                        ng-if="currentSetting=='Program'"
                        id="{{ program.prName }}"
                        ng-repeat="program in programs | filter:userSearch"
                        class="{{ program.type }}"
                        ng-class="{active: program.prProgramID === selectedProgramID && program.type != 'letter'}"
                        name="record[]"
                        ng-click="loadClickedRecord({record: program, index: $index, event: $event})"

                >
                    <a ng-if="program.type == 'letter'"
                    >
                        <span class="inner"><span>{{ program.prName }}</span></span>
                    </a>
                    <a
                            ng-if="program.type == 'record'"
                    >
                        <span class="inner"><span>{{ program.prName }}</span></span>
                    </a>
                </li>
            </ul>
            <!--<div class="alphabet-controller">-->
                <!--<ul class="alphabet-scroll" du-scroll-container="record-list">-->
                    <!--<li ng-repeat="letter in letters">-->
                        <!--<span du-smooth-scroll="{{ letter }}">{{ letter }}</span>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->

        </div>
    </div>
    <div class="cell small-8 large-6 app-content-view">
        <div class="grid-x grid-padding-x ">
            <div class="cell small-12">
                <nav class="top-bar app-topbar topbar-responsive">
                    <div class="float-left">
                        <a
                                class="Edit"
                                ng-if="view.record && vm.auth.isAuthenticated() && vm.auth.userHasScopes(['write:records'])"
                                ng-click="editModeToggle()"
                        >
                            <span ng-if="!form.edit">Edit</span>
                            <span ng-if="form.edit">Cancel</span>
                        </a>
                    </div>
                    <div class="topbar-responsive-links">

                        <div user-nav class="app-user-nav"></div>


                    </div>
                </nav>

                <div
                        ng-if="currentSetting=='Program'"
                        ng-include="'app/components/apps/settings/program-single.html'"
                        class="slide-in single-view"
                        style="height: 100%;"
                        ng-class="form.activeclass"
                >
                </div>

                <div
                        ng-if="currentSetting=='ConsumerType'"
                        ng-include="'app/components/apps/settings/customerType-single.html'"
                        class="slide-in single-view"
                        style="height: 100%;"
                        ng-class="form.activeclass"
                >
                </div>

                <div class="title-bar-bottom">
                    <div class="title-bar-left">
                        <button
                                ng-if="currentSetting=='ConsumerType'"
                                ng-show="view.existingRecord"
                                ng-click="deleteSingleConsumerType()"
                                ng-if="form.edit && vm.auth.isAuthenticated() && vm.auth.userHasScopes(['delete:records'])"
                        >
                            Delete Record
                        </button>
                        <button
                                currentSetting=='Program'
                                ng-show="view.existingRecord"
                                ng-click="deleteSingleProgram()"
                                ng-if="form.edit && vm.auth.isAuthenticated() && vm.auth.userHasScopes(['delete:records'])"
                        >
                            Delete Record
                        </button>

                        <button
                                ng-if="currentSetting=='ConsumerType'"
                                ng-show="view.existingRecord"
                                ng-click="updateSingleConsumerType()"
                                ng-if="form.edit"
                                style="float:right;"
                                ng-disabled="singleUtilityForm.$pristine"
                        >
                            Done
                        </button>
                        <button
                                ng-if="currentSetting=='Program'"
                                ng-show="view.existingRecord"
                                ng-click="updateSingleProgram()"
                                ng-if="form.edit"
                                style="float:right;"
                                ng-disabled="singleUtilityForm.$pristine"
                        >
                            Done
                        </button>
                        <button
                                ng-show="!view.existingRecord"
                                ng-click="createRecord()"
                                style="float:right;"
                                ng-disabled="singleUtilityForm.$pristine"
                        >
                            Done
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
