<li class="cell">
    <a href="/app/products" class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_products-01.svg"></span>

        <p>Products</p>
    </a>
</li>
<li class="cell">
    <a href="/app/productsFeatured" class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_featured-01.svg"></span>

        <p>Featured Products</p>
    </a>
</li>
<li class="cell">
    <a href="/app/productBrands" class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_brands-01.svg"></span>

        <p>Product Brands</p>
    </a>
</li>
<li class="cell">
    <a href="/app/productSpecies" class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_species-01.svg"></span>

        <p>Product Species</p>
    </a>
</li>
<li class="cell">
    <a href="/app/productColors" class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_color-01-01.svg"></span>

        <p>Product Colors</p>
    </a>
</li>
<li class="cell">
    <a href="/app/productSizes" class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_sizes-01-01.svg"></span>

        <p>Product Sizes</p>
    </a>
</li>
<li class="cell">
    <a href="/app/productCategories" class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_categories-01-01.svg"></span>

        <p>Product Categories</p>
    </a>
</li>
<li class="cell">
    <a href="/app/stores" class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_stores-01.svg"></span>

        <p>Stores</p>
    </a>
</li>
<li class="cell">
    <a href="/app/groomingServices" class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_grooming-services.svg"></span>

        <p>Grooming Services</p>
    </a>
</li>
<!--<li class="cell" class="ng-hide">
    <a href="/app/consumers" class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_customers.svg"></span>

        <p>Consumers</p>
    </a>
</li>
<li class="cell" class="ng-hide">
    <a href="/app/measures" class="d-link">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_measures.svg"></span>

        <p>Measures</p>
    </a>
</li>
<li class="cell" class="ng-hide">
    <a href="/app/utilities"class="d-link"  ng-click="$close()">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_utilities.png"></span>

        <p>Utilities</p>
    </a>
</li>
<li class="cell" class="ng-hide">
    <a href="/app/applications" class="d-link">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_blank.svg"></span>

        <p>Applications</p>
    </a>
</li>
&lt;!&ndash;<li class="cell">&ndash;&gt;
    &lt;!&ndash;<a href="/app/programs" class="d-link">&ndash;&gt;
        &lt;!&ndash;<span class="app_icon"><img  src="app/assets/apps/icon_app_blank.svg"></span>&ndash;&gt;

        &lt;!&ndash;<p>Programs</p>&ndash;&gt;
    &lt;!&ndash;</a>&ndash;&gt;
&lt;!&ndash;</li>&ndash;&gt;
<li class="cell" class="ng-hide">
    <a href="/app/reports" class="d-link">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_reports.svg"></span>

        <p>Reports</p>
    </a>
</li>
<li class="cell" class="ng-hide">
    <a href="/app/locations" class="d-link">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_utilitiesmap.svg"></span>

        <p>Utilities Map</p>
    </a>
</li>
<li class="cell" class="ng-hide">
    <a href="/app/settings" class="d-link">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_settings.svg"></span>

        <p>Settings</p>
    </a>
</li>
<li class="cell" class="ng-hide">
    <a href="/app/systemUsers" class="d-link">
        <span class="app_icon"><img  src="app/assets/apps/icon_app_systemusers.png"></span>

        <p>System Users</p>
    </a>
</li>-->
<!--<li class="cell">-->
    <!--<a href="#" class="d-link">-->
        <!--<span class="app_icon"><img  src="app/assets/apps/icon_app_blank.svg"></span>-->

        <!--<p>Notes</p>-->
    <!--</a>-->
<!--</li>-->
<!--<li class="cell">-->
    <!--<a href="#" class="d-link">-->
        <!--<span class="app_icon"><img  src="app/assets/apps/icon_app_blank.svg"></span>-->

        <!--<p></p>-->
    <!--</a>-->
<!--</li>-->
<!--<li class="cell">-->
    <!--<a href="#" class="d-link">-->
        <!--<span class="app_icon"><img  src="app/assets/apps/icon_app_blank.svg"></span>-->

        <!--<p></p>-->
    <!--</a>-->
<!--</li>-->
<!--<li class="cell">-->
    <!--<a href="#" class="d-link">-->
        <!--<span class="app_icon"><img  src="app/assets/apps/icon_app_blank.svg"></span>-->

        <!--<p></p>-->
    <!--</a>-->
<!--</li>-->
<!--<li class="cell">-->
    <!--<a href="#" class="d-link">-->
        <!--<span class="app_icon"><img  src="app/assets/apps/icon_app_blank.svg"></span>-->

        <!--<p></p>-->
    <!--</a>-->
<!--</li>-->