.app_nav {

  padding:20px;
  .cell {
    text-align:center;
    margin-bottom:40px;
    float: left;
    max-width: 14.2%;
    width:14.2%;
    display: block;
    transition: all 0.5s ease;
    @media print, screen and (max-width: 62em) {
      max-width:25%;
      width: 25%;
    }
    @media print, screen and (max-width: 48em) {
      max-width:33.3%;
      width: 33.3%;
    }
    @media print, screen and (max-width: 38em) {
      max-width:50%;
      width:50%;
    }
  }

  .d-link {
    display: inline-block;
    color:white;
    width: 100%;
    .app_icon {
      max-width: 142px;
      height: auto;
      border-radius: 20px;
      overflow: hidden;
      backface-visibility: hidden;
      display: inline-block;
      border: 1px solid white;
      width:100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

}


.app-switcher {
  .d-link {
    display: inline-block;
    color:white;
    width: 100%;
    .app_icon {
      max-width: 60px;
      height: auto;
      border-radius: 12px;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: inline-block;
      border: 1px solid gray;
      width: 100%;
      margin: 4px auto;
      display: block;
      float: none;
      img {
        width: 100%;
        height: auto;
      }
    }
    p {
      font-size:12px;
      color: gray;
      text-align: center;
    }
  }
}