<div class="grid-x grid-padding-x align-center-middle  app-login" >
    <div class="toast-container">
        <global-toast></global-toast>
    </div>
    <div class="cell small-4">
        <img class="logo" src="app/assets/svgs/w_wilco_logo_white.svg" >
        <form ng-submit="formSubmit()">
            <div id="sign-in-form">
                

            </div>
        </form>
        <div class="dark" ng-hide="true">
            <a href="#" class="forgot-password float-left" >Forgot Password</a>
        </div>

    </div>

</div>