<div class="inner-view">
    <form class=""
          name="singleGroomingServiceForm"
          id="singleGroomingServiceForm"
          ng-submit="updateSingleGroomingServiceForm()">
        <fieldset ng-disabled="!form.edit" ng-if="view.record">
            <input type="hidden" id="longitude" name="longitude" ng-model="form.user.longitude">
            <input type="hidden" id="latitude" name="latitude" ng-model="form.user.latitude">

            <div class="record-content">

                <div class="cell small-12 record-data">

                    <div class="grid-x small-12 form-list">

                        <!-- Product Name -->
                        <div class="grid-x small-12">

                            <div  class="small-3 cell">
                                <label for="groomingServiceName" class="text-right middle">
                                    Grooming Service
                                </label>
                            </div>
                            <div class="small-9 cell">
                                <input

                                        id="groomingServiceName"
                                        name="groomingServiceName"
                                        type="text"
                                        placeholder="Grooming Service Name"
                                        ng-model="form.user.services_name"
                                        ng-if="form.edit"
                                >
                                <span
                                        ng-bind="form.user.services_name"
                                        ng-if="form.user.services_name && !form.edit"
                                ></span>
                            </div>

                        </div>

                        <!-- Product Description -->
                        <div class="grid-x small-12">
                            <div  class="small-3 cell">
                                <label for="description"class="text-right middle">
                                    Description
                                </label>
                            </div>
                            <div  class="small-9 cell">
                                <textarea

                                        id="description"
                                        name="description"
                                        type="text"
                                        placeholder="Description"
                                        ng-model="form.user.description"
                                        ng-if="form.edit"
                                >
                                {{form.user.description}}
                                </textarea>
                                <span
                                        ng-bind="form.user.description"
                                        ng-if="form.user.description && !form.edit"
                                ></span>
                            </div>
                        </div>

                        <!-- Brand Image -->
                        <div class="grid-x small-12">
                            <div  class="small-3 cell">
                                <label for="image"class="text-right middle">
                                    Featured Image <br>
                                    (278 x 185px)
                                </label>
                            </div>
                            <div  class="small-9 cell">
                                <input
                                    type="file"
                                    name="image"
                                    id="image"
                                    ng-if="form.edit"
                                >
                                <img
                                        src="{{form.user.image.imageSource}}"
                                        ng-if="form.user.image"
                                />

                                <div 
                                    class="remove-image"
                                    ng-if="form.user.image && form.edit"
                                    >
                                    <a
                                        ng-click="showRemoveImage()">
                                        <span class="button">Remove Image</span>
                                    </a>

                                    <div 
                                        class="remove-image__inner"
                                        ng-if="removeImage"
                                        >
                                        <span class="remove-image_message">Are you sure you want to remove image?</span>
                                        <div class="remove-image_btns">
                                            <a
                                                ng-click="removeGroomingServiceImage()">
                                                <span class="button">Yes</span>
                                            </a>
                                            <a
                                                ng-click="leaveImage()">
                                                <span class="button">No</span>
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .remove-image -->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>
</div>
